{%extends "layout.html"%}{% block body%}

<h2>Welcome {{session.first_name}}</h2>
<div class="main">
    <h3 class="light text-decoration-underline">Upcoming Events</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col">When</th>
          <th scope="col">Location</th>
          <th scope="col">Host</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td><a href="/event_details/{{event.id}}">{{event.event_name}}</a></td>
          <td>{{event.date}}  {{event.start_time}} to {{event.end_time}}</td>
          <td>{{event.location}}, {{event.city}}, {{event.state}}</td>
          <td>{{event.host.first_name}} {{event.host.last_name}} </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    
  </div>
</div>


{% endblock %}
