{%extends "layout.html"%}{% block body%}
<h1>SEARCH</h1>
<form action="/search_results" id="search_events_form" method="post">
  <div class="row">
    <div class="col">
      <input type="date" name="date" class="form-control" />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        name="city"
        placeholder="city"
        aria-label="city"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="state">State</label>
      <select name="state" id="">
        {% for state in states %}
        <option value="{{state}}">{{state}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">When</th>
      <th scope="col">Location</th>
      <th scope="col">Host</th>
    </tr>
  </thead>
  <tbody id="results"></tbody>
</table>
<ul>
  {% with messages = get_flashed_messages() %}
  <!-- declare a variable called messages -->
  {% if messages %}
  <!-- check if there are any messages -->
  {% for message in messages %}
  <!-- loop through the messages -->
  <li>{{message}}</li>
  <!-- display each message in a paragraph tag -->
  {% endfor %} {% endif %} {% endwith %}
</ul>
{% endblock %}
